<%= form_with model: holiday do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% holiday.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :date %><br>
    <%= form.date_select :date %><br>
    <% holiday.errors.full_messages_for(:date).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
