<style>
body {
  background-color: lightblue;
}
button {
  color: darkblue;
  font-size: 16px;
  cursor: pointer;
}
</style>

<%  if @current_user.type == 'Hr' %> 

<%= button_to "Home", hr_path, method: :get %>
 <%= link_to "Create", new_holiday_path(@holiday) %>

<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Number</th>
    <th scope="col">Holiday Name</th>
    <th scope="col">Date</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
  </tr>
  </thead>
  <% @holiday.each do |holiday| %>
    <tr>
      <td><%= holiday.id %></td>
      <td><%= holiday.name %></td>
      <td><%= holiday.date %></td>
      <td><%= link_to "Edit", edit_holiday_path(holiday) %></td>
      <td><%= link_to "Destroy", holiday_path(holiday), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></td>
                </tr>
              
  
  <% end %>
  </table>
      
      <% else %>
<%= button_to "Home", emp_path, method: :get %>

<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Number</th>
    <th scope="col">Holiday Name</th>
    <th scope="col">Date</th>
  </tr>
  </thead>
  <% @holiday.each do |holiday| %>

    <tr>
      <td><%= holiday.id %></td>
      <td><%= holiday.name %></td>
      <td><%= holiday.date %></td>
    </tr>
      <% end %>
</table>
      <% end %>

