<style>
  body {
    background-color: lightsteelblue;
  }
</style>

  <%= button_to "Home", hr_path, method: :get %>

  <%= link_to "Create", new_employee_path %>

<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Employee ID</th>
    <th scope="col">Employee Name </th>
    <th scope="col">Username </th>
    <th scope="col">Salary</th>
    <th scope="col">Joinng Date</th>
    <th scope="col">Edit</th>
    <th scope="col">Update</th>
  </tr> 
  </thead>
  <% @employee.each do |employee| %>

    <tr>
      <td><%= employee.id %></td>
      <td><%= employee.name %></td>
      <td><%= employee.username %></td>
      <td><%= employee.salary %></td>
      <td><%= employee.joining_date %></td>
      <td><%= link_to "Edit", edit_employee_path(employee) %></td>
      <td><%= link_to "Destroy", employee_path(employee), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></td>
    </tr>
      <% end %>
</table>
      
