  
    <b>Employee Name:</b> <%= @employee.name %><br>
    <b>Username:</b> <%= @employee.username %><br>
    <b>Salary:</b> <%= @employee.salary %><br>
   <b>Joining Date:</b> <%= @employee.joining_date %><hr>
   <ul>
  <li><%= link_to "Edit", edit_employee_path(@employee) %></li>
</ul>
