<style type="text/css">
body {
  background-color: khaki;
}
  .abc {
    margin-left: 350px;
  }
</style>
<%= form_with model: leave_request do |form| %>

    <div class="abc">
  <%= form.radio_button :status, "approved" %>
   <%= form.label :status, "approved" %>
   <%= form.radio_button :status, "pending" %>
   <%= form.label :status, "pending" %>
    <% leave_request.errors.full_messages_for(:status).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div><br>

  <div class="abc">
    <%= form.submit %>
  </div>
<% end %>
