<div style = "color:red; text-align: center;"> <%= flash[:notice] %>
<h1>HR- Portal</h1>
<%= form_with url: '/login', method: :post do |form| %>
  <%= form.label :username %>
  <%= form.text_field :username %> <br><br>
  <%= form.label :password %>
  <%= form.text_field :password %> <br><br>
  <%= form.submit 'Login' %>
<% end %>
 </div>