<style>
body {
  background-color: darkgray;
}
</style>
<%  if @current_user.type == 'Hr' %> 
<%= button_to "Home", hr_path, method: :get %>

<%= link_to "Create", new_event_path(@event) %>

<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Number</th>
    <th scope="col">Event Name</th>
    <th scope="col">Date</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
  </tr>
  </thead>
  <% @event.each do |event| %>
    <tr>
      <td><%= event.id %></td>
      <td><%= event.name %></td>
      <td><%= event.date %></td>
      <td><%= link_to "Edit", edit_holiday_path(event) %></td>
      <td><%= link_to "Destroy", holiday_path(event), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></td>
  </tr>
  <% end %>
      
    </table>
      <% else %>
        <%= button_to "Home", emp_path, method: :get %>

<table class="table">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Number</th>
    <th scope="col">Event Name</th>
    <th scope="col">Date</th>
  </tr>
  </thead>
  <% @event.each do |event| %>

    <tr>
      <td><%= event.id %></td>
      <td><%= event.name %></td>
      <td><%= event.date %></td>
    </tr>
      <% end %>
</table>



      <% end %>