  
    <b>start_date:</b> <%= @leave_request.start_date %><br>
   <b>end_date:</b> <%= @leave_request.end_date %><br>
    <b>Status:</b> <%= @leave_request.status %><br>

   <b>Name:</b> <%= @leave_request.user.name %><hr>

   <ul>
  <li><%= link_to "Edit", edit_leave_request_path(@leave_request) %></li>
</ul>
